{%extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.last_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.password1|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.password2|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button><br>
    <div class="alert">
        Already have account ? Login <a href="{%url 'login'%}">here</a>
    </div>
  </form>
{% endblock %}